.bodytext {
    display: block;
    line-height: 2em;
    text-indent: 2em;
    margin: 1em 0
    }
.bodytext-right {
    display: block;
    font-family: "楷体";
    text-align: right;
    margin: 1em 0
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-align: right
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    display: block;
    line-height: 1.2
    }
.calibre4 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre5 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre6 {
    font-style: italic
    }
.calibre7 {
    font-weight: bold
    }
.chapter-one {
    display: block;
    font-family: "黑体";
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    margin: 2em 0 1.5em
    }
.chapter-one1 {
    display: block;
    font-family: "黑体";
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2;
    text-align: right;
    margin: 2em 0 0.67em;
    border-bottom: #000 solid 1px
    }
.chapter-three {
    display: block;
    duokan-text-indent: 0;
    font-family: "黑体";
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.2;
    text-indent: 0;
    margin: 2em 0 1em
    }
.contents-chapter {
    display: block;
    font-weight: bold;
    margin-left: 0.5em
    }
.contents-title {
    border-bottom-style: dotted;
    border-bottom-width: 1.5px;
    border-left-style: none;
    border-left-width: 1.5px;
    border-right-style: none;
    border-right-width: 1.5px;
    border-top-style: none;
    border-top-width: 1.5px;
    display: block;
    duokan-text-indent: 0;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 1em 0
    }
.copyright-text {
    display: block;
    font-family: "黑体", "sans-serif";
    font-size: 0.83333em;
    line-height: 1.75;
    text-indent: 0;
    margin: 0
    }
.copyright-text1 {
    display: block;
    font-family: "黑体", "sans-serif";
    font-size: 0.83333em;
    line-height: 1.75;
    text-indent: 0;
    margin: 1em 0 0
    }
.copyright-title {
    display: block;
    font-family: "宋体", "serif", "黑体";
    font-size: 1.83333em;
    font-weight: 700;
    line-height: 1.5;
    text-indent: 0;
    margin: 10% 0 0.375em
    }
.duokan-western {
    line-height: 1.2
    }
.i {
    font-style: italic;
    padding: 0 2px
    }
.image {
    height: auto;
    width: 100%
    }
.notecontent {
    display: block;
    font-family: "楷体";
    font-size: 0.83333em;
    letter-spacing: auto;
    line-height: 1.5em;
    text-align: left;
    text-indent: 2em;
    margin: 1em 0
    }
.notetitle {
    display: block;
    font-family: "楷体";
    font-size: 0.83333em;
    font-weight: bold;
    letter-spacing: auto;
    line-height: 1.5em;
    text-align: left;
    text-indent: 0;
    margin: 1em 0
    }
.tuzhu-center {
    display: block;
    font-family: "楷体";
    font-size: 0.83333em;
    text-align: center;
    margin: 1em 0
    }
.yinwen {
    display: block;
    font-family: "仿宋";
    text-indent: 2em;
    margin: 1em
    }
.yinwen1 {
    display: block;
    font-family: "仿宋";
    margin: 1em
    }
.yinwen2 {
    display: block;
    font-family: "仿宋";
    text-align: right;
    margin: 1em
    }
.zhong {
    display: block;
    text-align: center;
    width: 80%;
    margin: 1em auto
    }
.zigao {
    height: 4em;
    vertical-align: middle;
    width: auto
    }